.board {
    margin-left: 550px;
    float: left;
    width: 800px;
}

.info {
    margin-right: 140px;
    float: right;
    width: 400px;
    background-color: #faebd7;
    border-style: solid;
}

.move-history {
    max-height: 100px;
    overflow-y: scroll;
}